PRIVATE_KEY=
ETHEREUM_MAINNET_RPC_URL=
ETHEREUM_SEPOLIA_RPC_URL=
POLYGON_MAINNET_RPC_URL=
POLYGON_AMOY_RPC_URL=
LINEA_MAINNET_RPC_URL=
LINEA_SEPOLIA_RPC_URL=

ETHERSCAN_API_KEY=
OKLINK_API_KEY=
COINMARKETCAP_KEY=
REPORT_GAS=